.main {
    margin-top: 30px;
}

.biography {
    margin: 0 15px;
    background: #F5F5FA;
    border-radius: 12px;

    &__img {
        width: 100%;
        object-fit: cover;
    }
    &__inscription {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 5px;
        a {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $blue;
            text-decoration: none;
            padding-right: 3px;
        }
    }
    &__title {
        background: linear-gradient(276deg, #EF8080 0.84%, #F0145A 99.96%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 30px;
    }
    &__content {
        padding: 30px;
    }
    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $gray;
    }
    &__post {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $gray;
        padding-top: 6px;
    }
    &__circles {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }
    &__circle:not(:first-child) {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #24A3FF;
        opacity: 0.2;
        display: inline-flex;
        margin-right: 10px;
        border: 0;
    }
}

.active-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $blue;
    opacity: 1;
    display: inline-flex;
    margin-right: 10px;
    border: 0;
    
}

@media (min-width: 768px) {
    .biography {
        &__title {
            line-height: 46px;
            font-size: 38px;
        }
        margin: 0 60px;
        &__img {
            height: 500px;
        }
    }
}

@media (min-width: 1024px) {
    .biography {
        display: flex;
        &__inscription {
            margin-top: 15px;
        }
        &__img {
            height: 542px;
        }
        &__pic {
            width: 42%;
        }
        &__content {
            width: 51%;
        }
    }
}

@media (min-width: 1400px) {
    .biography {
        &__img {
            height: 348px;
            width: 395px;
            margin-top: 51px;
        }
        &__content {
            width: 96%;
            padding: 68px 0 0 31px;
        }
    }
}