$white: #FFFFFF;
$gray:  #B3B3BA;
$gradient: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$blue:  #24A3FF;
$black:   #000000;
$gradient-right: linear-gradient(266deg, #EF8080 0.84%, #F0145A 99.96%);
$pink: #F0145A;
